# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build / binaries folders
bin/
dist/

# Go modules

/go/pkg/mod/

# Vendor directory 
vendor/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
docker-compose.override.yml
**/tmp/
**/log/
**/data/

# Kafka / Zookeeper data 
kafka-data/
zookeeper-data/

# Environment files
.env


logs/